@import 'colours';

body {
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 1.5em;
  height: 100%;
}

.btn-group {
  display: flex;
  flex-direction: row;

  &.row-inverse {
    flex-direction: row-reverse;
  }
}

.btn {
  margin: 3px;
  padding: 10px 13px;
  background:transparent;
  border-radius:3px;
  border: 0.5px #848484 solid;
  font-size: 13px;

  &:focus, &:hover {
    outline: none;
    border-color: #000;
  }

  &.success {
    background-color: $success;
    color: white;
  }

  &.info {
    background-color: $info;
    color: white;
  }
}


#imageContainer,
#debugContainer {
  padding: 1em;
  box-sizing: border-box;
}

canvas {
  border: solid 1px black;
}

.column {
  width: 48%;
  margin: .5%;
  border: 1px solid #000;
  vertical-align: top;

  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}

#imageContainer {

}

#debugContainer {
  p {
    margin: 0;
    padding: 0;

    &.error {
      color: $error;
    }

    &.info {
      color: $info;
    }
  }
}
